<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/sci_logo.png">
    <title>Find ID</title>
    <!-- page css -->
    <link href="/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <style>
        .active-notice {
            margin-top: 0.7em;
            margin-bottom: 0;
            font-size: 9pt;
        }
        
        .deactive-notice {
            display: none;
        }
        
        #email-select-input2{
            margin-left:10px;
        }

        label{
            float:left;
        }
        
        .form-group {
            margin-bottom:10px;
        }

        /*--------------------이메일 인증 관련 CSS--------------------------*/

        /* 인증번호 전송 버튼 */
        #sendNumber, #resendNumber {   
            width: 100%;
            font-size: 10pt;
            margin-top: 15px;
        }

        /* 인증번호 label */
        #label-authNumber {
            float:left;
        }
        
        /* 인증번호 input, button div */
        #inputDiv{
            width:100%;
            float:left;
        }

        /* 인증번호 입력 input */
        #authnumber {
            width: 75%;
            display: inline;
            margin-top :0px !important;
            margin-right:10px;
        }

        /* 인증 버튼 */
        #checknumber {
            width:20%;
            display: inline;
        }

    </style>
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Load..</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card" style="margin: auto;">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="findIDFrm">
                        <h3 class="text-center m-b-20"><strong>아이디 찾기</strong></h3>
                        <div class="form-group mb-3">
                            <label for="name-input">이름</label>
                            <div class="input-group">
                                <input id="name-input" name="name" class="form-control" type="text" placeholder="이름 입력" aria-describedby="name-notice" maxlength="12">
                            </div>
                            <div style="text-align: left;">
                                <p id="name-notice" class="form-notice deactive-notice form-control-feedback text-danger">이름을 입력해 주세요.</p>
                            </div>
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <label for="email-input">이메일</label>
                            <div class="input-group">
                                <input id="email-input" name="eId" type="text" class="form-control" placeholder="아이디" aria-describedby="" />
                                &nbsp;<span class="ml-1 mr-1 mt-2">@</span>&nbsp;
                                <input id="email-input2" name="eDomain" type="text" class="form-control" placeholder="도메인" aria-describedby="" />
                                <select id="email-select-input2" class="form-control">
                                    <option selected>직접입력</option>
                                    <option>naver.com</option>
                                    <option>gmail.com</option>
                                    <option>daum.net</option>
                                    <option>hanmail.net</option>
                                    <option>nate.com</option>
                                </select>
                            </div>
                            <div style="text-align: left;">
                                <p id="email-notice" class="form-notice deactive-notice form-control-feedback text-danger">이메일을 올바르게 입력해 주세요.</p>
                            </div>
                            <p id="wait-notice" class="deactive-notice text-center"><br/>이메일 전송 중입니다. 잠시만 기다려주세요</p>
                            <button id="sendNumber" class="btn btn-secondary" type="button">인증번호 전송</button>
                            <button id="resendNumber" class="btn btn-secondary" style="display: none;" type="button">재전송</button>
                            <hr/>
                            <div id="input-authnumber" style="display: none;">
                                <label id="label-authNumber" for="authnumber">인증번호</label>
                                <div id="inputDiv">
                                    <input id="authnumber" name="authnumber" type="text" class="form-control mt-3" placeholder="인증번호 입력" aria-describedby="" maxlength="6"/>
                                    <button id="checknumber" class="btn btn-block btn-info" type="button">인증</button>
                                    <p id="e-auth-notice" class="form-notice active-notice form-control-feedback text-danger">고객님의 메일 주소로 보내드린 인증번호를 입력해 주세요.</p>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-group m-b-0" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="d-flex no-block align-items-center">
                                <div class="m-auto">
                                    <a href="/api" id="login-btn" class="text-muted">로그인 페이지</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="/api/findUserPw" id="signup-btn" class="text-muted">비밀번호 찾기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="result-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-result-title" class="modal-title">회원님의 정보와 일치하는 아이디입니다.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <br/>
                    <h2 id="id-result" class="text-center">아이디 출력</h2>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button id="modal-login-btn" type="button" class="modal-btn btn btn-success waves-effect" onclick="">로그인</button>
                    <button id="modal-pw-btn" type="button" class="modal-btn btn btn-secondary waves-effect" onclick="">비밀번호 찾기</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/popper/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/commonUtil.js"></script>
<script src="/web/index/findId.js"></script>
<script type="text/javascript">

    // 페이지 로딩
    $(function() {
        $(".preloader").fadeOut();
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

</html>