{% extends "templates/appmainbase.html" %}
<!-- ------------------------------------------------------------- -->
{% block head %}
<!-- CSS -->
<!-- datepicker CSS -->
<link href="/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/icons/material-design-iconic-font/css/material-design-iconic-font.css">

<style>
    .card-box {
        margin-top: 16px;
        border: 2px solid rgb(86, 145, 255);
        width: 300px;
    }
    

    
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .p_down {
        width: 200px;
        height: 35px;
        margin-top: 5px;
        font-size: 13pt;
        border-radius: 10px;
        background-color:rgb(253, 99, 99);
        justify-items: center;
    }

    .health {
        font-weight: bold;
        font-size: 13pt;
        width: 130px;
        margin-top: 20px;
        margin-right: 200px;
        justify-content: center;
    }

 


</style>
{%endblock%}
<!-- ------------------------------------------------------------- -->



<!-- ------------------------------------------------------------- -->
<!-- Content 시작 -->
{% block contents%}
<!-- html -->
<div class="skin-megna page-wrapper" style="padding: 0; overflow-y: scroll;">
    <div class="container-fluid">
        <!-- 건강 상태 측정 -->
        <div class="health">▼ 건강 측정🩺</div>
        <div class="card card-box buttonList" id="go-predict" style="text-align: center; height: 180px;">
            <div>
                <img src="/images/icon/heartbeat.png" style="width: 150px; height: 140px; margin-top: 17px;">
                <div class="row" style="display: flex; justify-content: center; margin-top: 25px; width: 100%; margin-left: 0px;">
                    <div class="p_down" style="position: fixed; color: white; padding: 5px">건강상태 측정하기</div>
                </div>
            </div>
        </div>

        <!-- 측정 기록 조회 -->
        <div class="health" style="margin-top: 70px;">▼ 측정 확인💉</div>
        <div class="card card-box buttonList" id="go-result" style="text-align: center; height: 180px;">
            <div>

                <img src="/images/icon/health_report.png" style="width: 140px; height: 145px; margin-top: 12px;">
                <div class="row" style="display: flex; justify-content: center; margin-top: 25px; width: 100%; margin-left: 0px;">
                    <div class="p_down" style="position: fixed; color: white; padding: 5px;">측정기록 확인하기</div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>



{% endblock %}
<!-- ------------------------------------------------------------- -->



<!-- ------------------------------------------------------------- -->
{% block script %}
<script src="/javascripts/config.js"></script>
<script src="/assets/node_modules/moment/moment.js"></script>
<script src="/assets/node_modules/Chart.js/Chart.min.js"></script>
<script src="/javascripts/commonUtil.js"></script>
<script>
    let p_userCode = '{{p_userCode}}';
</script>

<!-- js파일 로드
<script></script>
js파일 로드 -->

<script>
    //앱 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)
    window.parent.postMessage({
        action: 'moveFrameN'
    }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것
    //앱 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)

    // 페이지 이동 버튼 클릭 이벤트 2021.05.10 JG
    $(".buttonList").on('click', function(evnt) {
        let targetId = evnt.currentTarget.id,
            reqUrl = baseUrl + '/a_health/';
        switch (targetId) {
            case 'go-predict':
                reqUrl += 'predictPage';
                break;
            case 'go-result':
                reqUrl += 'resultPage';
                break;
        }
        reqUrl += '?p_userCode=' + p_userCode /* + '&lang=' + lang + "&accessToken=" + accessToken*/ ;
        console.log(reqUrl)
        location.href = reqUrl;
        window.parent.postMessage({
            action: 'moveFrameY'
        }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것

    });
</script>

{% endblock %}