{% extends "templates/appmainbase.html" %}
<!-- ------------------------------------------------------------- -->
{% block head %}
<!-- CSS -->
<!-- datepicker CSS -->
<link href="/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    rel="stylesheet">
<link href="/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/icons/material-design-iconic-font/css/material-design-iconic-font.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{%endblock%}
<!-- ------------------------------------------------------------- -->



<!-- ------------------------------------------------------------- -->
<!-- Content 시작 -->
{% block contents%}
<!-- html -->
<section id="wrapper" style="background: rgb(135,193,246);
background: linear-gradient(120deg, rgba(135,193,246,1) 0%, rgba(100,160,249,0.6250875350140056) 35%, rgba(16,137,227,1) 100%); height: 790px;">
    <div class="modify-manage pt-5">
        <div class="card" style="margin: auto; width: 80%; height: 680px;">
            <div class="card-body">
                <form class="form-horizontal form-material" id="infoForm">
                    <!-- 이름 -->
                    <div class="row justify-content-center" style="margin-bottom: 20px; margin-top: 5px;">
                        <div class="col-4" style="font-weight: 700;">이름</div>

                        <div class="form-group col-7">

                            <input id="modify_name" value="" name="modifyName" type="text" placeholder="이름"
                                aria-describedby="name-input" maxlength="100" style="width: 80%; height: 30px;">

                        </div>
                    </div>

                    <!-- 나이 -->
                    <div class="row justify-content-center" style="margin-bottom: 20px;">

                        <div class="col-4" style="font-weight: 700;">나이</div>

                        <div class="form-group col-7">

                            <input id="modify_age" name="age" type="text" placeholder="나이" aria-describedby="modify_age"
                                maxlength="100" style="width: 80%; height: 30px;">

                        </div>
                    </div>

                    <!-- 몸무게 -->
                    <div class="row justify-content-center" style="margin-bottom: 20px;">

                        <div class="col-4" style="font-weight: 700;">몸무게</div>

                        <div class="form-group col-7" style="font-weight: 700;">

                            <input id="modify_weight" name="weight" type="text" placeholder="무게"
                                aria-describedby="modify_weight" maxlength="100" style="width: 73%; height: 30px;">
                            kg
                        </div>
                    </div>

                    <!-- 성별 -->
                    <div class="row justify-content-center mb-3" style=" margin-bottom: 20px;">
                        <div class="col-4" style="font-weight: 700; left: 10px;">성별</div>

                        <div class="form-group col-7 ml-4">

                            <input type="radio" id="modify_male" name="modify_gender" value="male">
                            <label for="modify_male" style="font-weight: 500; margin-right: 40px;">남</label>

                            <input type="radio" id="modify_female" name="modify_gender" value="female">
                            <label for="modify_female" style="font-weight: 500; margin-right: 40px; ">여</label>

                        </div>
                    </div>

                    <!-- 중성화 여부 -->
                    <div class="row justify-content-center mb-3" style="margin-bottom: 20px;">
                        <div class="col-4" style="font-weight: 700; left: 10px;">중성화 여부</div>

                        <div class="form-group col-7 ml-4">

                            <input type="radio" id="modify_neuteredRadioY" name="neuteredRadio" value="Y">
                            <label for="modify_neuteredRadioY" style="font-weight: 500; margin-right: 40px;">O</label>

                            <input type="radio" id="modify_neuteredRadioN" name="neuteredRadio" value="N">
                            <label for="modify_neuteredRadioN" style="font-weight: 500;  margin-right: 40px;">X</label>

                        </div>
                    </div>

                    <!-- 품종 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-4" style="font-weight: 700;">품종</div>

                        <div class="form-group col-7">
                            <select id="modify_kind" name="품종" aria-label="pet-kind" aria-describedby="kind"
                                style="width: 80%; height: 30px;">
                                <option selected>품종</option>
                                <option>말티즈</option>
                                <option>포메라니안</option>
                                <option>치와와</option>
                                <option>비글</option>
                                <option>닥스훈트</option>
                                <option>미니 비숑프리제</option>
                                <option>푸들</option>
                                <option>요크셔테리어</option>
                                <option>코카스파니엘</option>
                                <option>진돗개</option>
                                <option>골든 리트리버</option>
                                <option>래브라도 리트리버</option>
                                <option>시추</option>
                                <option>믹스견</option>
                            </select>
                        </div>
                    </div>

                    <!-- 동물등록번호 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-4" style="font-weight: 700; ">동물등록번호</div>

                        <div class="form-group col-7">

                            <input id="modify_code" name="modify_code" type="text" placeholder="동물등록번호(선택사항)"
                                aria-describedby="modify_name" maxlength="100" style="width: 80%; height: 30px;">

                        </div>
                    </div>
                    <!-- 삭제 버튼 -->
                    <div style="text-align: right;">
                        <div id="modify_delete" class=" btn btn-danger mr-5 mb-5">삭제</div>
                    </div>
                    <!-- 수정, 취소 버튼 -->
                    <div class="row">
                        <div id="modifyBtn" class="btn btn-info col-2" style="margin-left: 60px; margin-right: 110px; width: 60px; height: 35px;">수정</div>
                        <div id="modify_cancel" class="btn btn-secondary col-2" style="width: 60px; height: 35px;">취소</div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>








{% endblock %}
<!-- ------------------------------------------------------------- -->



<!-- ------------------------------------------------------------- -->
{% block script %}
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/popper/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/commonUtil.js"></script>
<!-- SweetAlert2 예쁜 알람창 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>
<script>


    //앱 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)
    window.parent.postMessage({
            action: 'moveFrameN'
        }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것
        
        //앱 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)


    //앱>> 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)
    window.parent.postMessage({
            action: 'moveFrameY' //메인페이지에서 하위 메뉴로 들어갔을 때 페이지 이동 표시("Y": 하위 메뉴/"N": 메인메뉴)
        }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것

        //앱>> 페이지 이동 시 필수 작성(뒤로가기 버튼 구현시 필요)

    let p_userCode = "{{p_userCode}}";
    let modifyPetId = "{{petId}}";

</script>
<script type="text/javascript" src="/app/a_mypage/a_mypage_myPet03.js"></script>

{% endblock %}