{% extends "templates/appmainbase.html" %} {% block head %}
<!-- <link href="/dist/css/pages/dashboard1.css" rel="stylesheet"> -->
<!-- page css -->
<link href="/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/icons/material-design-iconic-font/css/material-design-iconic-font.css">
<link rel="stylesheet" href="/web/home/home.css" type="text/css"/>
{%endblock%}{% block contents %}

<h3 id="click-alert" style="text-align: center; margin-top:10px;">{{homePage.initAlert}}</h3>
<div class="skin-megna page-wrapper" style="padding: 0; overflow-y: scroll;">
    <div class="container-fluid">
        <!-- 센서 연결 상태, 현재 심박수 -->
<!--        <div class="card ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-title" style="text-align: center;">
                        <ul class="top-content">
                            <li style="margin-left:2%;" id="go-sensor">
                                <img src="/images/icon/setting.png" width="45px" alt="">
                                <br><span class="first_text">{{homePage.SensorConnectionStatus}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="sensor-info"></i></span>
                                <br><div id = sensorActiveDiv></div>
                            </li>
                            <li>
                                <img src="/images/icon/heart_rate.png" width="45px" alt="">
                                <br><span class="first_text">{{homePage.CurrentHeartRate}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="real-time-info"></i></span>
                                <br><span class="second_text" id="real_hr_value"></span>
                            </li>
                        </ul>             
                    </div>
                </div>
            </div>
        </div>-->

        <!-- 건강상태 -->
        <div class="card ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-title" style="text-align: center;">
                        <!-- <span class="first_text"> {{homePage.HealthState}}</span>
                        <span><i class="mdi mdi-information-outline modal-icon" id="health-state-info" style="position: static;"></i></span><br/>                         -->
                        <div class="date_wrap"><input type="text" class="form-control" id="biometric-datepicker" style="text-align: center; font-size:20px;">
                        
                        </div>
                          <ul class="middle-content">
                            <li>
                                <img src="/images/icon/heart_rate.png" width="45px"alt="">
                                <br><span class="first_text">{{homePage.HeartRate}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="hr-info"></i></span>
                                <br><span class="second_text hr_value">-</span>
                            </li>
                            <li>
                                <img src="/images/icon/stress.png" width="45px" alt="">
                                <br><span class="first_text">{{homePage.Step}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="stress-info"></i></span>
                                <br><span class="second_text stress_value">-</span>
                            </li>    
                            <li>
                                <img src="/images/icon/sleep.png" width="45px" alt="">
                                <br><span class="first_text">{{homePage.BloodSugar}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="sleep-info"></i></span>
                                <br><span class="second_text sleep_value">-</span>
                            </li>
                            <li>
                                <img src="/images/icon/stress.png" width="45px" alt="">
                                <br><span class="first_text">{{homePage.BloodPressure}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="stress-info"></i></span>
                                <br><span class="second_text stress_value">-</span>
                            </li>
                        
                        </ul>
                        <div class="section_02">
                            <span class="first_text">{{homePage.HealthIndexGraph}}</span>
                            <span><i class="mdi mdi-information-outline modal-icon" id="health-info" style="position: static;"></i></span><br/>
                            <div style="position: relative; margin-top:10px; margin-bottom:15px; text-align: center; height:40px;">
                                <img src="/images/icon/color_bar.png" style="width:100%; height:35px;" alt="">
                                <!-- left 값 조절해서 나쁨, 보통, 좋음 아이콘 이동시키기-->
                                <img src="/images/icon/triangle.png" id="triangle_icon" style="width:30px; position:absolute; top:6px; left:45%; " alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 건강지수 -->
        <div class="card " style="margin-bottom:150px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-title" style="text-align: center;">

                        <ul class="top-content">
                            <li>
                                <span class="first_text">{{homePage.HealthIndex}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="health-value-info" data-toggle="modal" data-target="#diseaseInfo"></i></span>
                                <br><img src="/images/icon/green.png" id="healthIndex-val-icon" width="7%" alt="">&nbsp;<span class="second_text" id="health_index_value">-</span>
                            </li>
                            <li>
                                <span class="first_text">{{homePage.HealthTrend}}</span>
                                <span><i class="mdi mdi-information-outline modal-icon" id="health-trend-info" data-toggle="modal" data-target="#diseaseInfo"></i></span>
                                <br><span class="second_text" id="health_trend_value">-</span>
                            </li>
                        </ul>
                        <ul id = "health-info-area" style="font-size: 15pt; list-style: none; padding:0px; margin-top:20px; display: none;">
                            <hr>
                            <strong style="float:left;">{{homePage.HealthAdvice}}</strong><br/>
                            <li class="health-img"><img src="" id = "health_index_img" alt=""></li>
                            <li id="health_index_info" class="health-advice"></li>
                            <li class="health-img"><img src="" id = "sleep_img" alt=""></li>
                            <li id="sleep_info" class="health-advice"></li>
                            <li class="health-img"><img src="" id = "stress_img" alt=""></li>
                            <li id="stress_info" class="health-advice"></li>
                        </ul>
                        
                        <div id = "li-area" style="font-size: 15pt; text-align: left; margin-top:20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 세부정보 모달 -->

<!-- 센서 연결 상태-->
<div id="sensor-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.SensorConnectionDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align: left;">
                <p class="modal-text" style="text-align: left;">
                    <img id="sensor-icon" src="/images/icon/green.png" width="12px" alt=""><span class="modal-text">&nbsp;<strong>{{homePage.Connecting}}</strong></span>
                    {{homePage.SensorConnectedState}}
                </p>
                <p class="modal-text" style="text-align: left;">
                    <img id="sensor-icon" src="/images/icon/red.png" width="12px" alt=""><span class="modal-text">&nbsp;<strong>{{homePage.NotConnected}}</strong></span>
                    {{homePage.SensorNotConnected}}
                </p>
                <p class="modal-text" style="text-align: left;">
                    <img id="sensor-icon" src="/images/icon/red.png" width="12px" alt=""><span class="modal-text">&nbsp;<strong>{{homePage.UnconnectedActionMethod}}</strong></span>
                    <br>{{homePage.UnconnectedActionMethod1}}
                    <br>{{homePage.UnconnectedActionMethod2}}
                    <br>{{homePage.UnconnectedActionMethod3}}
                </p>
                <p class="modal-text" style="text-align: left;">{{homePage.MoveSensorPage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- 실시간 심박수-->
<div id="real-time-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HeartRateDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="/images/icon/heart.png" width=100px;/><br/>
                <p class="modal-text" style="text-align: center;">{{homePage.HeartRate5s}}</p><hr/>
                <p class="modal-text" style="text-align: center;">{{homePage.HeartRateAvg}}</p>
                <span style="color:gray; font-size: 13pt;">{{homePage.AHA}}</span><hr/>
            </div>
        </div>
    </div>
</div>
<!-- 건강상태 -->
<div id="health-state-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HealthStatusDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-text">{{homePage.HealthStatusDetails1}}</p>
                <p class="modal-text">{{homePage.HealthStatusDetails2}}</p>
                <input type="text" class="form-control" style="text-align: center; font-size:18px; margin-bottom:20px; border:1px solid lightgray;" value="YYYY-MM-DD" disabled>
                <p class="modal-text">{{homePage.HealthStatusDetails3}}</p><br/>
            </div>
        </div>
    </div>
</div>
<!-- 건강상태(심박수) -->
<div id="hr-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HeartRateDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="/images/icon/heart.png" width=100px;/><br/>
                <span class="second_text hr_value">-</span><hr/>
                <p class="modal-text" style="text-align: center;">{{homePage.HeartRateAvg}}</p>
                <span style="color:gray; font-size: 13pt;">{{homePage.AHA}}</span><hr/>
            </div>
        </div>
    </div>
</div>
<!-- 건강상태(수면품질) -->
<div id="sleep-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.SleepQualityDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align: center; padding-right:5%; padding-left:5%;">
                <img src="/images/icon/sleep.png" width=100px;/><br/>
                <img id="sleep-val-icon" src="/images/icon/green.png" width="12px" alt="">&nbsp;<span class="second_text sleep_value">-</span><br/>
                <hr/>
                <p style="font-size:15pt; font-weight: 500; text-align: center;">{{homePage.SleepQualityClassificationTable}}</p>
                <table>
                    <tr style="background-color: rgb(226, 226, 226);">
                        <th class="t1" style="font-weight: 500;">{{homePage.Sortation}}</th>
                        <th class="t2" style="font-weight: 500;">{{homePage.SleepQuality}}</th>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/green.png" width="7%" alt="">&nbsp;{{homePage.Good}}</td>
                        <td class="t2">70~100</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/orange.png" width="7%" alt="">&nbsp;{{homePage.Normal}}</td>
                        <td class="t2">30~69</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/red.png" width="7%" alt="">&nbsp;{{homePage.Bad}}</td>
                        <td class="t2">0~29</td>
                    </tr>
                </table>
                <hr/>
                <p class="modal-text">{{homePage.SleepQualityDetails1}}</p>
                <p class="modal-text">{{homePage.SleepQualityDetails2}}</p>
                <p class="modal-text">{{homePage.SleepQualityDetails3}}</p>
            </div>
        </div>
    </div>
</div>
<!-- 건강상태(스트레스) -->
<div id="stress-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.StressDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align: center; padding-right:5%; padding-left:5%;">
                <img src="/images/icon/stress.png" width=100px;/><br/>
                <img id="stress-val-icon" src="/images/icon/green.png" width="12px" alt="">&nbsp;<span class="second_text stress_value">-</span><hr/>
                <p style="font-size:15pt; font-weight: 500; text-align: center;">{{homePage.StressClassificationTable}}</p>
                <table>
                    <tr style="background-color: rgb(226, 226, 226);">
                        <th class="t1" style="font-weight: 500;">{{homePage.Sortation}}</th>
                        <th class="t2" style="font-weight: 500;">{{homePage.StressIndex}}</th>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/green.png" width="7%" alt="">&nbsp;{{homePage.Good}}</td>
                        <td class="t2">0 ~ 19</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/orange.png" width="7%" alt="">&nbsp;{{homePage.Normal}}</td>
                        <td class="t2">20~39</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/red.png" width="7%" alt="">&nbsp;{{homePage.Bad}}</td>
                        <td class="t2">40~100</td>
                    </tr>
                </table><br/>
                <hr/>
            </div>
        </div>
    </div>
</div>
<!-- 건강지수 그래프 -->
<div id="health-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HealthIndexGraph}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div style="position: relative; margin-top:10px; margin-bottom:10px; text-align: center; height:40px;">
                    <img src="/images/icon/color_bar.png" style="width:90%; height:35px;" alt="">
                    <!-- left 값 조절해서 나쁨, 보통, 좋음 아이콘 이동시키기-->
                    <img src="/images/icon/triangle.png" style="width:30px; position:absolute; top:9px; left:100px; " alt="">
                </div>
                <div style="text-align: right; margin-right:30px;">
                    <img src="/images/icon/red.png" width="13px" alt="">&nbsp;<span style="font-size: 15pt;">{{homePage.Bad}}</span>
                    <img src="/images/icon/orange.png" width="13px" alt="">&nbsp;<span style="font-size: 15pt;">{{homePage.Normal}}</span>
                    <img src="/images/icon/green.png" width="13px" alt="">&nbsp;<span style="font-size: 15pt;">{{homePage.Good}}</span>
                </div><br/>
                <p class="modal-text">{{homePage.HealthIndexGraph1}}</p>
                <p class="modal-text">{{homePage.HealthIndexGraph2}}</p>
                <p class="modal-text">{{homePage.HealthIndexGraph3}}</p>
            </div>
        </div>
    </div>
</div>

<!-- 건강지수 -->
<div id="health-value-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HealthIndexDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-text">{{homePage.HealthIndexDetails1}}</p>
                <p style="font-size:15pt; font-weight: 500; text-align: center;">{{homePage.HealthIndexClassificationTable}}</p>
                <table>
                    <tr style="background-color: rgb(226, 226, 226);">
                        <th class="t1" style="font-weight: 500;">{{homePage.Sortation}}</th>
                        <th class="t2" style="font-weight: 500;">{{homePage.HealthIndex}}</th>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/green.png" width="7%" alt="">&nbsp;{{homePage.Good}}</td>
                        <td class="t2">81~100</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/orange.png" width="7%" alt="">&nbsp;{{homePage.Normal}}</td>
                        <td class="t2">41~80</td>
                    </tr>
                    <tr>
                        <td class="t1"><img src="/images/icon/red.png" width="7%" alt="">&nbsp;{{homePage.Bad}}</td>
                        <td class="t2">0~40</td>
                    </tr>
                </table><br/>
            </div>
        </div>
    </div>
</div>
<!-- 건강지수 추세 -->
<div id="health-trend-modal" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="longmodal">{{homePage.HealthTrendDetails}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-text">{{homePage.HealthTrendDetails1}}</p>
                <p class="modal-text" style="text-align: center;">{{homePage.HealthTrendDetails2}}</p>
        </div>
    </div>
</div>

{% endblock %} {%block script%}
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!-- <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<!-- <script src="../dist/js/sidebarmenu.js"></script> -->
<!-- Plugin JavaScript -->
<script src="../../../assets/node_modules/moment/moment.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="../../../assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../../../assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-datepicker 언어팩 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ko.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/zh-cn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.min.js"></script>
<script src="/javascripts/commonUtil.js"></script>
<script src="/web/home/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    let userCode = '{{userCode}}';
    let SensorActive = '{{SensorActive}}';
    let HrActive = '{{HrActive}}';
    let accessToken = '{{accessToken}}';
    let lang = '{{lang}}';


    let Connecting = '{{homePage.Connecting}}'
    let NotConnected = '{{homePage.NotConnected}}'
    let NoData = '{{homePage.NoData}}'
    let NoDataInDate = '{{homePage.NoDataInDate}}'
    let HealthAlert1 = '{{homePage.HealthAlert1}}'
    let HealthAlert2 = '{{homePage.HealthAlert2}}'
    let HealthAlert3 = '{{homePage.HealthAlert3}}'
    let HealthAlert4 = '{{homePage.HealthAlert4}}'
    let SleepAlert1 = '{{homePage.SleepAlert1}}'
    let SleepAlert2 = '{{homePage.SleepAlert2}}'
    let SleepAlert3 = '{{homePage.SleepAlert3}}'
    let StressAlert1 = '{{homePage.StressAlert1}}'
    let StressAlert2 = '{{homePage.StressAlert2}}'
    let StressAlert3 = '{{homePage.StressAlert3}}'
    let StressAlert4 = '{{homePage.StressAlert4}}'
    let HealthTips = '{{homePage.HealthTips}}'
    let HospitalAlert1 = '{{homePage.HospitalAlert1}}'
    let HospitalAlert2 = '{{homePage.HospitalAlert2}}'
    let HospitalAlert3 = '{{homePage.HospitalAlert3}}'
    let GlucosTest = '{{homePage.GlucosTest}}'
    let PressureTest = '{{homePage.PressureTest}}'
    let FoodAlert1 = '{{homePage.FoodAlert1}}'
    let FoodAlert2 = '{{homePage.FoodAlert2}}'
    let WeightAlert = '{{homePage.WeightAlert}}'

    init();
    rTimeSensorHr(userCode);

    $("#go-sensor").on('click', function() {
    window.parent.postMessage({
        action: 'sensorPage'
    }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것
});
</script>
{% endblock %}